img.cat_img {
    height: 50px;
}
img.cat_img.active, img.cat_img:hover {
    box-shadow: 0 0 4px 2px #f1ec52;
}
span.btn_field_mausac {
    display: inline-block;
    height: 35px;
    min-width: 35px;
    background: none;
    cursor: pointer;
	    border: 1px solid;
}
.btn_field:hover, .btn_field.active {
    box-shadow: 0 0 3px 1px black;
    background: #000;
    color: #fff;
}
span.btn_field_mausac.active, span.btn_field_mausac:hover, span.btn.btn-price.active,  span.btn.btn-price:hover, span.btn-label.active, span.btn-label:hover {
    box-shadow: 0 0 2px 2px #192201;
	color: #fff;
}
span.btn_field_mausac.btn_field_value_13 {
    background: blue;
}
span.btn_field_mausac.btn_field_value_22 {
    background: red;
}
span.btn_field_mausac.btn_field_value_28 {
    background: violet;
}
span.btn_field_mausac.btn_field_value_23 {
    background: yellow;
}
span.btn_field_mausac.btn_field_value_29 {
    background: brown;
}
span.btn_field_mausac.btn_field_value_25 {
    background: black;
}
span.btn_field_mausac.btn_field_value_34 {
    background: white;
}
span.btn_field_mausac.btn_field_value_24 {
    background: pink;
}
span.btn_field_mausac.btn_field_value_35 {
    background: orange;
}
span.btn_field_mausac.btn_field_value_27 {
    background: grey;
}
span.btn_field_mausac.btn_field_value_26 {
    background: wheat;
}
span.btn_field_mausac.btn_field_value_30 {
    background: url(../images/hoa-van.jpg);
}
span.btn_field_mausac.btn_field_value_36 {
    background: #fff;
}
span.btn_field_mausac.btn_field_value_37 {
    background: #fff;
}
span.btn_field_mausac.btn_field_value_15 {
    background: blue;
}

.btn_field {
    border: 1px solid;
}
span.btn_field_label {
	color: #fff;
	
}
span.btn_field_label.btn_field_value_8 {
    background: #c9302c;
	
}
span.btn_field_label.btn_field_value_39 {
    background: #f0ad4e;
}
span.btn_field_label.btn_field_value_60 {
    background: #5cb85c;
}
h3.field-title {
    margin-top: 0;
}
.filer-box {
    margin: 10px 0;
}
span.btn.btn-eddy {
    border: 1px solid;
}
span.btn.btn-eddy.active, span.btn.btn-eddy:hover {
    background: #000;
    color: #fff;
}
button.remove-selected {
  
    padding: 2px 5px;
}
.sticky-fillter.affix {
    width: 259px;
    top: 20px;
}
.filter-module {
    margin-bottom: 20px;
}
#fillter-button {
	width: 100%;
}
span.btn.text-color {
    color: #fff;
    width: auto;
}
span.btn.color-box.color_4.text-color, span.btn.color-box.color_7.text-color, span.btn.color-box.color_12.text-color, span.btn.color-box.color_11.text-color {
	color: #000;
}
