.ed-shopping-block input[type="number"] {
    width: 40px;
    text-align: right;
}
#countdown {
	display:inline-block;
}
.deal-block {
    display: inline-block;
    border: 1px solid;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    background: url(../images/hot_deal_bg_2.jpg);
    background-size: 100% 100%;
    color: #fff;
    box-shadow: 0px 0px 8px 1px #FFEB3B;
}
button.btn.btn-black {
    background: #000;
	color: #fff;
}
button.btn.btn-black:hover, button.btn.btn-black:active, button.btn.btn-black:focus {
	color: #fff;
}
.deal-block > h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px black;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.thumb_img {
    margin-bottom: 16px;
}
span.detail_price {
    font-size: 40px;
    color: #a20000;
    font-weight: bold;
}
.deal_price span.detail_price {
   animation: blink 1s infinite;
    color: yellow;
    text-shadow: 1px 1px #b11c17;
  
}
.active_deal span.detail_price {
    font-size: 20px;
    text-decoration: line-through;
}
@keyframes blink {
0% {color: yellow; }
50% {color: #fff;}
100% {color: yellow;} 
} 
 
h2.product-title-detail {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.thumb_img:hover {
    cursor: pointer;
}
 .stock,  .buy-section {
    margin-bottom: 15px;
}
.ed-loyalty-block {
    padding-top: 90px;
    padding-bottom: 20px;
    color: #fff;
   
    background-color: black;
    box-shadow: 0 0 5px 4px #fe9c00;
    border-radius: 0 0 5px 5px;
}

.special-banner {
    position: absolute;
    top: -5px;
    left: -49px;
    /* width: 300px; */
    max-width: 349px;
}
ul.special-list {
    padding-left: 10px;
	list-style: none;
}
ul.special-list li span {
    color: #ffed09;
    font-size: 33px;
    text-shadow: 0 0px 5px red;
    font-weight: bold;
}
.margin-top-10 {
	margin-top:10px;
}
ul.special-list a {
    color: #ffd608;
    font-size: 13px;
    /* float: right; */
}
.thumb-list {
	padding: 0;
}

a.more-product {
    border-bottom: 1px dotted;
    margin-right: 10px;
}
.cta {
    background: #393939;
    position: fixed;
    bottom: 0;
    z-index: 20;
    width: 100%;
    left: 0;
    padding: 10px;
}
.pull-right.product-info-cart {
    color: #fff;
    padding: 6px 10px 3px;
}
div#related-product {
    margin-top: 20px;
}