@media (max-width: 1100px) {
	.ed-item-img {
    text-align: center;
    padding: 20px;
	}
	body {
		font-family: arial;
		font-size: 15px;
	}
	h2, .h2 {
    font-size: 26px;
}
.special-banner {
    position: absolute;
    top: -5px;
    left: -55px;
    /* width: 300px; */
    max-width: 387px;
}
}
@media (max-width: 800px) {
.ed-media-block {
    margin-bottom: 30px;
}
}

@media (max-width: 767px) {
	table#cart a {
    color: #fff;
}
	.custombanner-top-right i {
    padding: 0 10px;
    font-size: 34px;
    transition: .3s;
}
	.custombanner-top-right {
    
    height: auto;
}
	.ajax-search {
   
    margin: 0 auto;
}
	.thumb-list {
    padding: 0;
    text-align: center;
}
.thumb_img {
    width: 20%;
    /* float: left; */
    margin-right: 5px;
    display: inline-block;
}
	.special-banner {
  
    top: -5px;
    left: -31px;
    /* width: 300px; */
    max-width: 465px;
}
.ed-loyalty-block {
    padding-top: 30px;
}
	.affix {
    position: relative;
}
.sticky-fillter.affix {
    width: 100%;
    top: initial;
}
.ed-search {
    
    height: auto;
    padding-top: 10px;
}
#search-box {
	display: none;
}
.ed-navigation .nav-pills > li {
    float: none;
}
.ed-navigation .nav-pills>li>a {
    font-size: 15px;
   
}

}
@media (min-width: 768px) and (max-width: 990px) {
	.btn {
   
    padding: 3px 5px;
   
	}
	.ed-navigation .nav-pills>li>a {
    font-size: 14px;
   
    padding: 10px;
}
.ed-search, .custombanner-top-right {
   
    height: 75px;
}
.ed-search input[type="search"] {
  
    width: 230px;
   
}

}
@media (min-width: 991px) and (max-width: 1100px) {
	
	.ed-navigation .nav-pills>li>a {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
	padding: 10px;
}
}
 .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}