div#ed-main-body {
    margin-top: 20px;
}
img {
	max-width: 100%;
	height: auto;
}
.custom p {
    margin-bottom: 0;
}
.text-center {
    text-align: center;
}
body {
	font-family: arial;
	font-size: 18px;
}
.moto-widget-image-link {
    text-align: center;
    padding: 10px 0 0;
    font-size: 75px;
    color: #343339;
}
a {
	color: #252525;
	    text-decoration: none;
}
a:hover {
	color: #000;
}
.moduletable.home-module h3 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: normal;
}
.add2cart-btn {
    background: #252525 ;
    border-color: #676565;
	color:#fff;
}
.add2cart-btn:hover {
	background: #000;
	border-color: #676565;
	color:#fff;
}
.btn-buy {
    background: #a20000;
    color: #fff;
}
.btn-buy:hover {
	background: #bf0404;
	color:#fff;
}
.ed-mass-top {
    margin-bottom: 40px;
}
.ed-mass-bottom {
    margin-top: 40px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}
.moduletable > h3 {
    margin-top: 30px;
}
#cfacebook{position:fixed;bottom:0px;right:0;z-index:999999999999999;width:250px;height:auto;box-shadow:6px 6px 6px 10px rgba(0,0,0,0.2);border-top-left-radius:5px;border-top-right-radius:5px;overflow:hidden;}#cfacebook .fchat{float:left;width:100%;height:270px;overflow:hidden;display:none;background-color:#fff;}#cfacebook .fchat .fb-page{margin-top:-130px;float:left;}#cfacebook a.chat_fb{float:left;padding:0 25px;width:250px;color:#fff;text-decoration:none;height:40px;line-height:40px;text-shadow:0 1px 0 rgba(0,0,0,0.1);background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);background-repeat:repeat-x;background-size:auto;background-position:0 0;background-color:#3a5795;border:0;border-bottom:1px solid #133783;z-index:9999999;margin-right:12px;font-size:18px;}#cfacebook a.chat_fb:hover{color:#ebf3e2;text-decoration:none;}